.form{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.form-inp-btn{
    margin-top: 230px;
    margin-left: 200px;
}

.form-inp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-inp input{
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 300;
}

.form-btn button{
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #99ccff 0%, #ff99ff 79%);
    color: rgb(255, 255, 255);
}