

.users-table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    background: #fafafa;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
    margin-top: 60px;
    
}

th{
    background: #ba68c8;
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

th,td{
    padding: 12px 15px;
}

td{
    font-family: 'Hedvig Letters Sans', sans-serif;
}

